/* Login1.css */

.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    flex: 1;
}

.feedback-image {
    width: 100%;
    height: auto;
}

.registration-container {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container h1 {
    text-align: center;
}

.contact-form {
    margin-top: 20px;
}

.row {
    display: flex;
    margin-bottom: 10px;
}

.form-field {
    flex: 1;
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-text {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

Link {
    color: #007bff;
    text-decoration: none;
}

Link:hover {
    text-decoration: underline;
}